.icon {
    cursor: pointer;
}

$grayColor: rgb(233, 229, 229);
$borderdarkGrayColor: rgb(90, 89, 89);
$borderGrayColor: rgb(153, 152, 152);

.folder,
.task {
    padding: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    min-height: 100px;
    min-width: 150px;
    border: 2px solid $borderGrayColor;
    border-radius: 10px;
    cursor: pointer;
    .folder_header,
    .task_header {
        border-bottom: 1px solid $borderGrayColor;
    }
    &:active,
    &:hover {
        background-color: $grayColor;
        border: 2px solid $borderdarkGrayColor;
    }
}

.button{
    color:black !important;
    background-color: black !important;
}