.modal-window {
  width: 800px;
  display: block;
  min-height: 400px;
  height: auto;
  position:absolute;
  z-index: 2;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
}
