.chat {
    width: 100%;
    min-height: 600px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #6c757d;
    display: block;
    margin-bottom: 40px;
    padding: 10px 0px;

    .chat-header {
        display: block;
        height: 80px;
        border-bottom: 1px solid #6c757d;
        button {
            position: relative;
            float: right;
        }
        .x-circle{
            cursor: pointer;
        }
    }
    .chat-body {
        overflow-y: scroll;
        display: block;
        height: 600px;
        padding: 20px;
        .my-message {
            text-align: right;
            p {
                margin: 0 !important;
            }
        }
        .other-message {
            text-align: left;
            p {
                margin: 0 !important;
            }
        }

        .text {
            font-size: 16px;
            flex-wrap: wrap;
        }
        .date {
            font-size: 12px;
        }
        .sender {
            font-size: 12px;
        }
    }

    .chat-body-private {
        overflow-y: scroll;
        display: block;
        height: 400px;
        padding: 20px;
        .my-message {
            text-align: right;
            p {
                margin: 0 !important;
            }
        }
        .other-message {
            text-align: left;
            p {
                margin: 0 !important;
            }
        }

        .text {
            font-size: 16px;
            flex-wrap: wrap;
        }
        .date {
            font-size: 12px;
        }
        .sender {
            font-size: 12px;
        }
    }

    .chat-footer {
        display: block;
        height: 90px;

        textarea {
            border-radius: 0 0 10px 10px;
            resize: none;
            width: 100%;
            height: 100%;
            font-size: 20px;
            padding: 0 10px;
            &:focus,
            :active,
            :hover {
                outline: none;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.open_chat {
    animation-duration: 0.5s;
    animation-name: open-chat;
    overflow: hidden;
}

@keyframes open-chat {
    from {
        height: 0;
    }
    to {
        height: 400px;
    }
}
